nav {
    overflow: auto;
    width: 270px;
    height: 1000px;
    position: fixed;
    font-family: 'Courier New';
    font-size:24px;
}

.mycustomnavitem a {
    display: block;
    font-size: 24px;
    color: grey;
    text-decoration: none;
    padding: 13px;
    font-family: 'Times New Roman';
}

    .mycustomnavitem a:hover {
        background-color: lightgray;
        color: black;
        text-decoration: none;
    }

.mylogo {
    font-size: 30px;
    margin-left: 10px;
}

.mycontactblock {
    background-color: white;
    font-size: 24px;
    color: black;
    font-family: sans-serif
}

    .mycontactblock a {
        font-size: 24px;
        display: block;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
    }

        .mycontactblock a:hover {
            background-color: lightgrey;
            color: black;
            text-decoration: none;
        }

    .mycontactblock button:hover {
        background-color: lightgrey;
        color: white;
    }


.subscribebox {
    background-color: black;
    color: white;
    padding: 15px;
}

    .subscribebox input {
        width: 100%;
        padding: 10px;
    }

    .subscribebox button {
        background-color: red;
        color: white;
        padding: 10px;
        margin-top: 20px;
        border-color: black;
        width: 15%;
        font-family: 'Courier New';
        font-size: 13px;
    }

        .subscribebox button:hover {
            background-color: darkred;
            color: white;
            cursor: pointer;
        }


.imageone {
    position: absolute;
    width: 100px;
}

.contacthoverblock button:hover {
    background-color: darkred;
    color: red;
    border-color: darkred;
    cursor: pointer;
    padding: 40px;
    border-width: 5px
}


.headertext h2 {
    color: white;
    position: absolute;
    top: 40px;
    left: 60px;
    font-family: sans-serif;
    font-size: 42px
}

.headertext p {
    color: white;
    position: absolute;
    top: 130px;
    left: 60px;
    font-family: Arial, sans-serif;
    font-size: 36px
}

.headertext button {
    color: white;
    position: absolute;
    top: 200px;
    left: 70px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: black;
    border-color: black;
    padding: 5px;
}

    .headertext button:hover {
        background-color: grey;
        color: white;
        border-color: black;
        padding: 5px;
    }



.findstore button {
    border: none;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: black;
}

    .findstore button:hover {
        background-color: lightgray;
        color: black;
        cursor: pointer;
        border: none
    }

#findstorepopup {
    background-color: grey;
}

#popupbutton button:hover {
    background-color: darkred;
    color: white;
    border: none;
}


#shoppingcartinven {
    visibility: hidden;
    min-width: 650px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 24px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

    #shoppingcartinven.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s, ease 2.5s;
        animation: fadein 0.5s, fadeout 0.5s, ease 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    from {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fading {
    from {
        bottom: 0;
        opacity: 0;
    }

    from {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    from {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    from {
        bottom: 0;
        opacity: 0;
    }
}

#imagetext1 {
    color: white;
    position: absolute;
    top: 90px;
    left: 40px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    opacity: .6;
}

    #imagetext1:hover {
        color: white;
        background-color: black;
        padding: 2px;
        background-size: 50px;
    }

.dropbtn {
    background-color: white;
    color: grey;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New' font-size:medium;
}

    .dropbtn:hover, .droptbtn:focus {
        background-color: lightgrey;
        color: black;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: lightgrey;
        }

.show {
    display: block;
}
